<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="3600">
    <title>Warsaw temperature chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<h1>Warsaw temperature 24 hours chart</h1>

<div id="container" style="width:100%; height:400px;"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // var timestamp = [[${temperatureMap.keySet()}]];
        // console.log('Timestamp ' + timestamp );
        // var timestamptable = timestamp.replace(/&quot;/g, '\'');
        // var timestamp = timestamp.replace(/|/g, ':');
        // console.log(timestamp);

        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Temperature in Warsaw'
            },
            xAxis: {
                title: {
                    text: 'Timestamp'
                },
                categories: [[${temperatureMap.keySet()}]],
            },
            yAxis: {
                title: {
                    text: 'Temperature in Celsius degrees'
                }
            },
            series: [{
                name: 'Temperature',
                data: [[${temperatureMap.values()}]]
                // data: [0.13, -16.72, 30.18]
            }]
        });
        console.log(myChart);
    });

    function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
</script>

</body>
</html>
